@import './variables';

.flex{
    display: flex;
    &-j-c{
        justify-content: center;
    }
    &-j-s-b{
        justify-content: space-between;
    }
    &-j-f-s{
        justify-content: flex-start;
    }
    &-a-i{
        align-items: center;
    }
    &-a-i-s-b{
        align-items: space-between;
    }
    &-f-d-c{
        flex-direction: column;
    }
    &-f-w{
        flex-wrap: wrap;
    }
}

.hide{
    display: none;
}

//input text style

.inputStyle{
    border: 0;
    border-bottom: 2px solid $black;
}
 
.inputStyle:focus, .inputStyle:focus, .inputStyle[type]:focus, .inputStyle:hover{
    outline: 0 none;
    border-bottom: 2px solid $dark-blue;
}

// box and buttun changer

.box{
    height: 50px;
    width: 50px;
    border: 1px solid $black;
    border-radius: 10px;
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

