.login{
    width: 100vw;
    height: 100vh;
    .form{
        @include button(none, $black, 16px, 10%, 5%, 20px);
        height: 70vh;
        min-height: 500px;
        width: 30vw;
        border: 2px solid $black;
        &__title{
            text-align: center;
        }
        &__label{
        }
        &__input{
            border: 0;
            border-bottom: 2px solid $black;
        }
        &__input:focus, &__input:focus, &__input[type]:focus, &__input:hover{
            outline: 0 none;
            border-bottom: 2px solid $dark-blue;
        }
        &__button{
            @include button($red, $gray, 16px, 10px, 10px, 40px);
            font-weight: bold;
        }
        &__button:hover{
            @include buttonHover($gray,$black, $dark-gray);
            border: 2px solid $dark-gray !important;
        }    
    }
}