.nav{
    position: absolute;
    padding: 10px;
    height: auto;
    width: 100vw;
    &__logo{
        max-height: 90px; /* Agregamos esta propiedad para limitar la altura del contenedor */
        max-height: 90px;
        width: 90px;
        height: 90px;
        .img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}