@mixin button($backgroundColor, $fontColor, $fontSize, $padding-top, $padding-rigth, $border-radius) {
    background: $backgroundColor;
    color: $fontColor; 
    padding: $padding-top $padding-rigth;
    border-radius: $border-radius;
    font-size: $fontSize;
    border-color: transparent;
}

@mixin buttonHover($backgroundColor,$fontColor, $borderColor) {
    background-color: $backgroundColor;
    color: $fontColor;
    cursor: grab;
}
  
