.Aquarium{
    //position: relative;
    height: 100vh;
    width: 100vw;
    .waterDashboard{
        width: 100vw;
        height: auto;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    .btn{
        border: none;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        background: rgb(45,78,215);
        background: linear-gradient(90deg, rgba(45,78,215,1) 0%, rgba(0,34,159,1) 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .waterDashboard{
        position: absolute;
        bottom: 0;
    }
    .wave{
        position: absolute;
        z-index: 1000000;
        background-color: #2FF4F4;
        width: 100vw;
        bottom: 0;
        
    }
    .wave-stop{
        height: 2vw;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    .wave-changer{
        @include waveMove(bigWave, 100vh, 1s)
    }
    iframe {
        width: 100% !important;
        height: 100% !important;
    }
    &__temperature,&__graphics{
        //border: 1px solid $black;
        //border-radius: 10px;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__section{
        margin:30px;
        background-color: white;
        padding: 10px;
        border: none;
    }
    &__temperature{
        height: 300px;
        width: 500px;
    }
    &__graphics{
        height: auto;
        width: 100%;
    }
    &__tool{
        position: absolute;
        top: 0;
        right: 0;
        @include button($black, white !important, 14px, 5px, 15px, 40px);
        margin: 10px;    
    }
    &__tool:hover{
        @include buttonHover($blue, $black, none);
        color: white !important;
        font-weight: lighter;
    }
    &__aside{
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        //background-color: rgba(0, 0, 0, 0.464);
        .Aside{
            position: absolute;
            width: 60%;
            height: 80%;
            background-color: $gray;
            border-radius: 20px;
            li{
                list-style: none;
                text-decoration:none;
                color: black;
            }
            &__p{
                color: black;
            }
            &__close{
                position: absolute;
                right: 0;
                top: 0;
                font-size: 20px;
                margin: 15px;
            }
        }
    }
    @media screen and (max-width: 600px) {
        overflow-x: hidden;
        .Item{
            margin: 0px 20px;
        }
        .container{
            flex-direction: column;
        }
        .btn{
            @include button(#007BFC, $gray, 14px, 5px, 15px, 40px);
            font-weight: bolder;
            margin:5px;
        }
        &__section{
            width: 100%;
            margin: none;
        }
        &__temperature, &__graphics{
            padding: 5%;
            height: auto;
            width: 80%;
        }
        &__aside{
            .Aside{
                width: 90%;
                height: 95%;
            }
        }
    }
}

//loader
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%,-30%);
    left: 50%;
    top:30%;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: $dark-blue;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }