@import '../elements/button'; 

.landingPage{
    .main{
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        max-height: 100vh;
        position: relative;
        .wave{
            position: absolute;
            right: 0;
            height: auto;
            &-1{
                @include wave(wave1, 50vw, 45vw, 14s)
                //width: 50vw;
            }
            &-2{
                @include wave(wave2, 40vw, 42vw, 12s)
                //width: 30vw;
            }
            &-3{
                @include wave(wave3, 30vw, 25vw, 17s)
                //width: 30vw;
            }
        }
        .text{
            position: absolute;
            left: 20%;
            top: 50%;
            transform: translate(-20%,-50%);
            height: auto;
            width: 550px;
            &__title{
                margin: 25px 0px 60px 0px;
                font-size: 32px;
                text-align: center;
                color: $dark-red;
                font-weight:900;
            }
            &__button{
                @include button(none, $gray, 25px, 15px, 15px, 40px);
                background: rgb(255,0,0);
                background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgb(187, 22, 11) 100%);
            }
            &__button:hover{
                @include buttonHover($blue,$gray, $dark-blue);
                background: $dark-blue
            }
            .bigLogo{
                height: 150px;
                width: 370px; 
                position: relative;       
            }
        }
    }
    // making the landing page with the screenSize
    .landingPageWave{
        position:absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: auto;
    }
    .technologies{
        width: 100vw;
        height: 200px;
        color: $dark-gray;
        &__text{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            margin: 30px;
        }
        &__icon{
            margin:0px 40px;
            font-size: 50px;
        }
    }
    .adventages{
        position: relative;
        width: 100vw;
        //height: 100vh;
        height: 100vh;
        padding: 5%;
        background: rgb(3,17,74);
        background: linear-gradient(90deg, rgba(3,17,74,1) 0%, rgba(45,78,215,1) 100%);
        z-index: -10;
        &__title{
            position: absolute;
            left: 50%;
            top: 10%;
            transform: translateX(-50%);
            color: $gray;
            font-size: 35px;
            font-weight: bold;
        }
        &__backgroundLine{
            width: 80%;
            height: 20px;
            background: $dark-gray;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
        }
        .adventage{
            position: relative;
            width: 33%;
            height: 40%;
            margin: 0% 2%;
            text-align: center;
            @include button($gray, $black, 16px, 5px, 5px, 20px);
            &-1{
                top: -15%;
                @include animationUpDowm(adventage-1,-5px, 4s, infinite);
                i{
                    @include animationUpDowm(adventage-1-icon,-6px, 2s, infinite);
                }
            }
            &-2{
                @include animationUpDowm(adventage-1,5px, 4s, infinite);
                i{
                    @include semicircularMotion(adventage-2-icon,8s,1px);
                }
            }
            &-3{
                top: 15%;
                @include animationUpDowm(adventage-1,-5px, 4s, infinite);
            }
            &__icon{
                position: absolute;
                width: 100px;
                height: 100px;
                top: -50px;
                border-radius: 50%;
                background-color: $dark-blue;
                color: $gray;
                //margin-top: -5px; 
                font-size: 50px;
            }
            &__text{

            }
        }
    }
    .aboutTheTeam{
        height: 300px;
        width: 100vw;
        position: relative;
        background-color: $dark-blue;
        &__img{
            object-fit: 'cover'; 
            width: 100%; 
            height: auto;
        }
        &__button{
            @include button($red, $gray, 25px, 15px, 15px, 40px);
            position: absolute;
            z-index: 10;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        &__button:hover{
            @include buttonHover($gray,$black, $dark-gray)
        }
    }
    @media screen and (max-width: 600px) {
        .main{
            .text{
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                height: auto;
                width: 80%;
                &__title{
                    margin: 25px 0px 60px 0px;
                    font-size: 18px;
                    text-align: center;
                }
                &__button{
                    @include button($red, $gray, 16px, 15px, 15px, 40px);
                }
                .bigLogo{
                    height: auto;
                    width: 70%; 
                }
            }
        }
        // making the landing page with the screenSize
        .landingPageWave{
            position:absolute;
            top: 0;
            right: 0;
            width: 100vw;
            height: auto;
        }
        .technologies{
            height: 180px;
            &__text{
                font-size: 24px;
                margin: 30px;
            }
            &__icon{
                margin:0px 30px;
                font-size: 30px;
            }
        }
        .adventages{
            height: auto;
            flex-direction: column;
            padding: 120px 5% 60px 5%;
            &__title{
                top: 5%;
                font-size: 24px;
            }
            &__backgroundLine{
                width: 10px;
                height: 70%;
            }
            .adventage{
                width: 100% !important;
                height: 300px;
                margin: 0% 2%;
                
                text-align: center;
                flex-wrap: wrap;
                @include button($gray, $black, 16px, 5px, 5px, 20px);
                margin: 25px 0;
                &-1{
                    top: 0;
                }
                &-3{
                    top: 0;
                }
                &__icon{
                    top: -20px;
                    width: 60px;
                    height: 60px;
                    font-size: 30px;
                }
                &__text{
    
                }
            }
        }
        .aboutTheTeam{
            height: 100px;
            width: 100vw;
            position: relative;
            background-color: $dark-blue;
            &__img{
                width: 100vw; 
                height: 100%;
            }
            &__button{
                @include button($red, $gray, 18px, 15px, 15px, 40px);
            }
            &__button:hover{
                @include buttonHover($gray,$black, $dark-gray)
            }
        }
    }
}