.NewAquarium, .Aquarium{
    height: 100vh;
    width: 100vw;
    padding: 10%;
    &__Data{
        &-p{
            color: $red;
            font-size: 24px;
        }
        &-img{
            height: auto;
            width: 250px
        }
    }
    @include Appear(appear, 0.5s);
    .btn{
        @include button($red, $gray, 18px, 5px, 15px, 40px);
        font-weight: bolder;
        margin:20px;
    }
    .btn:hover{
        @include buttonHover($blue,$gray, $dark-blue)
    }
}

