.NewAquarium, .Aquarium{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    &__Aside{
        width: 80vw;
        height: 80vh;
        background: $gray;
        position: absolute;
        z-index: 100;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px;
        &-close{
            @include button(none, black, 16px,none,none, none);
            margin: 5px;
        }
        &-close:hover{
            cursor: grab;
        }
    }
    &__Data{
        input::placeholder {
            color: $dark-blue;
            font-weight: 900;
            text-align: left;
            font-size: 16px;
        }
        &-p{
            color: $red;
            font-size: 16px;
            //margin: 5px 0px;
        }
        &-img{
            height: auto;
            width: 250px;
        }
        &-icon{
            font-size: 30px;
            margin-right: 10px;
        }
        &-input{
            margin: 25px 0px;
        }
    }
    //@include Appear(appear, 0.5s);
    .btn{
        @include button($red, $gray, 18px, 5px, 15px, 40px);
        font-weight: bolder;
        margin:20px;
    }
    .btn:hover{
        @include buttonHover($blue,$gray, $dark-blue)
    }
    @media screen and (max-width: 600px) {
        &__Data{
            width: 70%;
            .inputStyle{
                width: 80%;
            }
            &-p{
                font-size: 16px;
            }
            &-img{
                width: 70%;
            }
            &-icon{
                font-size: 25px;
                margin-right: 10px;
            }
        }
    }
}

.NewAquarium{
    overflow: hidden;
}

.NewAquariumMain{
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    .wave{
        position: absolute;
        z-index: 10;
        background-color: #2FF4F4;
        width: 100vw;
        bottom: 0;
        
    }
    .wave-stop{
        height: 2vw;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    .wave-changer{
        @include waveMove(bigWave, 100vh, 1s)
    }
    .corner{
        position: absolute;
        @include wave(corner2, 20vw, 21vw, 5s);
        //width: 20vw;
        height: auto;
        &-1{
            left: 0;
            bottom: 0;
        }
        &-2{
            right: 0;
            top: 0;
            transform: rotate(-180deg);
        }
    }
    @media screen and (max-width: 600px) {
        .corner{
            @include wave(corner2, 30vw, 33vw, 5s);
        }
    }
}

