
@mixin Appear($animationName, $time){
    @keyframes #{$animationName}{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    animation: #{$animationName} $time ease-in-out forwards;
}

@mixin ImageMovement($animationName, $mainColor, $secondColor, $time){
    @keyframes #{$animationName}{
        0%{
            background-color: $secondColor;
            transform: rotate(0);

        }
        50%{
            background-color: $mainColor;
            transform: rotate(-45deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    animation: #{$animationName} $time ease-in-out infinite;  
}

@mixin wave($animationName, $width-start, $width-end, $time){
    @keyframes #{$animationName}{
        0%{
            width: $width-start;
        }
        50%{
            width: $width-end;
        }
        100%{
            width: $width-start;
        }
    }
    animation: #{$animationName} $time ease-in-out infinite;  
}

@mixin waveMove($animationName, $height, $time){
    @keyframes #{$animationName}{
        0%{
            height: 2vw;
            bottom: 0;
            border-top-left-radius: 20%;
            border-top-right-radius: 20%;
        }
        25%{
            height: calc($height/2);
        }
        50%{
            bottom: 0;
            height: $height;
        }
        75%{
            height: calc($height/2);
        }
        100%{
            height: 2vw;
            bottom: 0;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
        }
    }
    animation: #{$animationName} $time ease-in-out forwards;  
}