@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.flex {
  display: flex; }
  .flex-j-c {
    justify-content: center; }
  .flex-j-s-b {
    justify-content: space-between; }
  .flex-j-f-s {
    justify-content: flex-start; }
  .flex-a-i {
    align-items: center; }
  .flex-a-i-s-b {
    align-items: space-between; }
  .flex-f-d-c {
    flex-direction: column; }
  .flex-f-w {
    flex-wrap: wrap; }

.hide {
  display: none; }

.inputStyle {
  border: 0;
  border-bottom: 2px solid #34313D; }

.inputStyle:focus, .inputStyle:focus, .inputStyle[type]:focus, .inputStyle:hover {
  outline: 0 none;
  border-bottom: 2px solid #0303B5; }

.box {
  height: 50px;
  width: 50px;
  border: 1px solid #34313D;
  border-radius: 10px;
  text-align: center; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */ }

.landingPage .main {
  height: 100vh;
  width: 100vw; }
  .landingPage .main .text {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
    height: auto;
    width: 550px; }
    .landingPage .main .text__title {
      margin: 25px 0px 60px 0px;
      font-size: 32px;
      text-align: center;
      color: #B11005;
      font-weight: 900; }
    .landingPage .main .text__button {
      background: #FF0000;
      color: #F0F0F0;
      padding: 15px 15px;
      border-radius: 40px;
      font-size: 25px;
      border-color: transparent; }
    .landingPage .main .text__button:hover {
      background-color: #0404E2;
      color: #F0F0F0;
      cursor: grab; }
    .landingPage .main .text .bigLogo {
      height: 150px;
      width: 370px;
      position: relative; }
.landingPage .landingPageWave {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: auto; }
.landingPage .technologies {
  width: 100vw;
  height: 200px;
  color: #b6b3b3; }
  .landingPage .technologies__text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px; }
  .landingPage .technologies__icon {
    margin: 0px 40px;
    font-size: 50px; }
.landingPage .adventages {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  background-color: #B11005;
  z-index: -10; }
  .landingPage .adventages__title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color: #F0F0F0;
    font-size: 35px;
    font-weight: bold; }
  .landingPage .adventages__backgroundLine {
    width: 80%;
    height: 20px;
    background: #0404E2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .landingPage .adventages .adventage {
    position: relative;
    width: 33%;
    height: 40%;
    margin: 0% 2%;
    text-align: center;
    background: #F0F0F0;
    color: #34313D;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 16px;
    border-color: transparent; }
    .landingPage .adventages .adventage-1 {
      top: -15%; }
    .landingPage .adventages .adventage-3 {
      top: 15%; }
    .landingPage .adventages .adventage__icon {
      position: absolute;
      width: 100px;
      height: 100px;
      top: -50px;
      border-radius: 50%;
      background-color: #0303B5;
      color: #F0F0F0;
      font-size: 50px; }
.landingPage .aboutTheTeam {
  height: 300px;
  width: 100vw;
  position: relative;
  background-color: #0303B5; }
  .landingPage .aboutTheTeam__img {
    object-fit: 'cover';
    width: 100%;
    height: auto; }
  .landingPage .aboutTheTeam__button {
    background: #FF0000;
    color: #F0F0F0;
    padding: 15px 15px;
    border-radius: 40px;
    font-size: 25px;
    border-color: transparent;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .landingPage .aboutTheTeam__button:hover {
    background-color: #F0F0F0;
    color: #34313D;
    cursor: grab; }

.NewAquarium {
  height: 100vh;
  width: 100vw; }
  .NewAquarium .btn {
    animation: hola 10s ease-in-out infinite;
    background: #FF0000;
    color: #F0F0F0;
    padding: 15px 15px;
    border-radius: 40px;
    font-size: 25px;
    border-color: transparent; }
@keyframes hola {
  0% {
    background-color: pink;
    transform: rotate(0); }
  50% {
    background-color: #0303B5;
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0deg); } }
  .NewAquarium .btn:hover {
    animation: ImageMovement 1s ease-in-out infinite;
    background-color: #0404E2;
    color: #F0F0F0;
    cursor: grab; }
@keyframes ImageMovement {
  0% {
    background-color: pink;
    transform: rotate(0); }
  50% {
    background-color: #0303B5;
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0deg); } }
.selecItem__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0303B5;
  color: #F0F0F0;
  position: relative;
  top: 20px;
  right: 20px;
  text-align: center;
  font-size: 25px; }
.selecItem__button {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #0303B5;
  background-color: transparent;
  position: relative;
  top: -12px;
  margin: 2px 0px 2px 20px;
  font-size: 25px; }
.selecItem__button:hover {
  background-color: #0303B5;
  color: #F0F0F0;
  border: none;
  cursor: grab; }

.login {
  width: 100vw;
  height: 100vh; }
  .login .form {
    background: none;
    color: #34313D;
    padding: 10% 5%;
    border-radius: 20px;
    font-size: 16px;
    border-color: transparent;
    height: 70vh;
    min-height: 500px;
    width: 30vw;
    border: 2px solid #34313D; }
    .login .form__title {
      text-align: center; }
    .login .form__input {
      border: 0;
      border-bottom: 2px solid #34313D; }
    .login .form__input:focus, .login .form__input:focus, .login .form__input[type]:focus, .login .form__input:hover {
      outline: 0 none;
      border-bottom: 2px solid #0303B5; }
    .login .form__button {
      background: #FF0000;
      color: #F0F0F0;
      padding: 10px 10px;
      border-radius: 40px;
      font-size: 16px;
      border-color: transparent;
      font-weight: bold; }
    .login .form__button:hover {
      background-color: #F0F0F0;
      color: #34313D;
      cursor: grab;
      border: 2px solid #b6b3b3 !important; }

.nav {
  position: absolute;
  padding: 10px;
  height: auto;
  width: 100vw; }
  .nav__logo {
    max-height: 90px;
    /* Agregamos esta propiedad para limitar la altura del contenedor */
    max-height: 90px;
    width: 90px;
    height: 90px; }
    .nav__logo .img {
      max-width: 100%;
      max-height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

/*# sourceMappingURL=styles.css.map */
