@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.flex {
  display: flex; }
  .flex-j-c {
    justify-content: center; }
  .flex-j-s-b {
    justify-content: space-between; }
  .flex-j-f-s {
    justify-content: flex-start; }
  .flex-a-i {
    align-items: center; }
  .flex-a-i-s-b {
    align-items: space-between; }
  .flex-f-d-c {
    flex-direction: column; }
  .flex-f-w {
    flex-wrap: wrap; }

.hide {
  display: none; }

.inputStyle {
  border: 0;
  border-bottom: 2px solid #34313D;
  text-align: center; }

.inputStyle:focus, .inputStyle:focus, .inputStyle[type]:focus, .inputStyle:hover {
  outline: 0 none;
  border-bottom: 2px solid #0303B5; }

.box {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.box-active {
  font-weight: bold;
  color: #4040FB; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */ }

/*
.wave{
    position: absolute;
    z-index: 10;
    background-color: #2FF4F4;
    width: 100vw;
    bottom: 0;
    
}
.wave-stop{
    height: 2vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.wave-changer{
    @include waveMove(bigWave, 100vh, 1s)
}
*/
.landingPage .main {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  position: relative; }
  .landingPage .main .wave {
    position: absolute;
    right: 0;
    height: auto; }
    .landingPage .main .wave-1 {
      animation: wave1 14s ease-in-out infinite; }
@keyframes wave1 {
  0% {
    width: 50vw; }
  50% {
    width: 45vw; }
  100% {
    width: 50vw; } }
    .landingPage .main .wave-2 {
      animation: wave2 12s ease-in-out infinite; }
@keyframes wave2 {
  0% {
    width: 40vw; }
  50% {
    width: 42vw; }
  100% {
    width: 40vw; } }
    .landingPage .main .wave-3 {
      animation: wave3 17s ease-in-out infinite; }
@keyframes wave3 {
  0% {
    width: 30vw; }
  50% {
    width: 25vw; }
  100% {
    width: 30vw; } }
  .landingPage .main .text {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
    height: auto;
    width: 550px; }
    .landingPage .main .text__title {
      margin: 25px 0px 60px 0px;
      font-size: 32px;
      text-align: center;
      color: #B11005;
      font-weight: 900; }
    .landingPage .main .text__button {
      background: none;
      color: #F0F0F0;
      padding: 15px 15px;
      border-radius: 40px;
      font-size: 25px;
      border-color: transparent;
      background: red;
      background: linear-gradient(90deg, red 0%, #bb160b 100%); }
    .landingPage .main .text__button:hover {
      background-color: #0404E2;
      color: #F0F0F0;
      cursor: grab;
      background: #0303B5; }
    .landingPage .main .text .bigLogo {
      height: 150px;
      width: 370px;
      position: relative; }
.landingPage .landingPageWave {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: auto; }
.landingPage .technologies {
  width: 100vw;
  height: 200px;
  color: #b6b3b3; }
  .landingPage .technologies__text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px; }
  .landingPage .technologies__icon {
    margin: 0px 40px;
    font-size: 50px; }
.landingPage .adventages {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  background: #03114a;
  background: linear-gradient(90deg, #03114a 0%, #2d4ed7 100%);
  z-index: -10; }
  .landingPage .adventages__title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color: #F0F0F0;
    font-size: 35px;
    font-weight: bold; }
  .landingPage .adventages__backgroundLine {
    width: 80%;
    height: 20px;
    background: #b6b3b3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .landingPage .adventages .adventage {
    position: relative;
    width: 33%;
    height: 40%;
    margin: 0% 2%;
    text-align: center;
    background: #F0F0F0;
    color: #34313D;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 16px;
    border-color: transparent; }
    .landingPage .adventages .adventage-1 {
      top: -15%;
      animation: adventage-1 4s ease-in-out infinite; }
@keyframes adventage-1 {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0); } }
      .landingPage .adventages .adventage-1 i {
        animation: adventage-1-icon 2s ease-in-out infinite; }
@keyframes adventage-1-icon {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-6px); }
  100% {
    transform: translateY(0); } }
    .landingPage .adventages .adventage-2 {
      animation: adventage-1 4s ease-in-out infinite; }
@keyframes adventage-1 {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }
      .landingPage .adventages .adventage-2 i {
        animation: adventage-2-icon 8s ease-in-out infinite; }
@keyframes adventage-2-icon {
  0% {
    transform: rotate(0deg) translateX(0); }
  50% {
    transform: rotate(-180deg) translateX(1px); }
  100% {
    transform: rotate(0deg) translateX(0); } }
    .landingPage .adventages .adventage-3 {
      top: 15%;
      animation: adventage-1 4s ease-in-out infinite; }
@keyframes adventage-1 {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0); } }
    .landingPage .adventages .adventage__icon {
      position: absolute;
      width: 100px;
      height: 100px;
      top: -50px;
      border-radius: 50%;
      background-color: #0303B5;
      color: #F0F0F0;
      font-size: 50px; }
.landingPage .aboutTheTeam {
  height: 300px;
  width: 100vw;
  position: relative;
  background-color: #0303B5; }
  .landingPage .aboutTheTeam__img {
    object-fit: 'cover';
    width: 100%;
    height: auto; }
  .landingPage .aboutTheTeam__button {
    background: #FF0000;
    color: #F0F0F0;
    padding: 15px 15px;
    border-radius: 40px;
    font-size: 25px;
    border-color: transparent;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .landingPage .aboutTheTeam__button:hover {
    background-color: #F0F0F0;
    color: #34313D;
    cursor: grab; }
@media screen and (max-width: 600px) {
  .landingPage .main .text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%; }
    .landingPage .main .text__title {
      margin: 25px 0px 60px 0px;
      font-size: 18px;
      text-align: center; }
    .landingPage .main .text__button {
      background: #FF0000;
      color: #F0F0F0;
      padding: 15px 15px;
      border-radius: 40px;
      font-size: 16px;
      border-color: transparent; }
    .landingPage .main .text .bigLogo {
      height: auto;
      width: 70%; }
  .landingPage .landingPageWave {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: auto; }
  .landingPage .technologies {
    height: 180px; }
    .landingPage .technologies__text {
      font-size: 24px;
      margin: 30px; }
    .landingPage .technologies__icon {
      margin: 0px 30px;
      font-size: 30px; }
  .landingPage .adventages {
    height: auto;
    flex-direction: column;
    padding: 120px 5% 60px 5%; }
    .landingPage .adventages__title {
      top: 5%;
      font-size: 24px; }
    .landingPage .adventages__backgroundLine {
      width: 10px;
      height: 70%; }
    .landingPage .adventages .adventage {
      width: 100% !important;
      height: 300px;
      margin: 0% 2%;
      text-align: center;
      flex-wrap: wrap;
      background: #F0F0F0;
      color: #34313D;
      padding: 5px 5px;
      border-radius: 20px;
      font-size: 16px;
      border-color: transparent;
      margin: 25px 0; }
      .landingPage .adventages .adventage-1 {
        top: 0; }
      .landingPage .adventages .adventage-3 {
        top: 0; }
      .landingPage .adventages .adventage__icon {
        top: -20px;
        width: 60px;
        height: 60px;
        font-size: 30px; }
  .landingPage .aboutTheTeam {
    height: 100px;
    width: 100vw;
    position: relative;
    background-color: #0303B5; }
    .landingPage .aboutTheTeam__img {
      width: 100vw;
      height: 100%; }
    .landingPage .aboutTheTeam__button {
      background: #FF0000;
      color: #F0F0F0;
      padding: 15px 15px;
      border-radius: 40px;
      font-size: 18px;
      border-color: transparent; }
    .landingPage .aboutTheTeam__button:hover {
      background-color: #F0F0F0;
      color: #34313D;
      cursor: grab; } }

.NewAquarium, .Aquarium {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .NewAquarium__Data input::placeholder, .Aquarium__Data input::placeholder {
    color: #0303B5;
    font-weight: 900;
    text-align: left;
    font-size: 16px; }
  .NewAquarium__Data-p, .Aquarium__Data-p {
    color: #FF0000;
    font-size: 16px; }
  .NewAquarium__Data-img, .Aquarium__Data-img {
    height: auto;
    width: 250px; }
  .NewAquarium__Data-icon, .Aquarium__Data-icon {
    font-size: 30px;
    margin-right: 10px; }
  .NewAquarium__Data-input, .Aquarium__Data-input {
    margin: 25px 0px; }
  .NewAquarium .btn, .Aquarium .btn {
    background: #FF0000;
    color: #F0F0F0;
    padding: 5px 15px;
    border-radius: 40px;
    font-size: 18px;
    border-color: transparent;
    font-weight: bolder;
    margin: 20px; }
  .NewAquarium .btn:hover, .Aquarium .btn:hover {
    background-color: #0404E2;
    color: #F0F0F0;
    cursor: grab; }
  @media screen and (max-width: 600px) {
    .NewAquarium__Data, .Aquarium__Data {
      width: 70%; }
      .NewAquarium__Data .inputStyle, .Aquarium__Data .inputStyle {
        width: 80%; }
      .NewAquarium__Data-p, .Aquarium__Data-p {
        font-size: 16px; }
      .NewAquarium__Data-img, .Aquarium__Data-img {
        width: 70%; }
      .NewAquarium__Data-icon, .Aquarium__Data-icon {
        font-size: 25px;
        margin-right: 10px; } }

.NewAquarium {
  overflow: hidden; }

.NewAquariumMain {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh; }
  .NewAquariumMain .wave {
    position: absolute;
    z-index: 10;
    background-color: #2FF4F4;
    width: 100vw;
    bottom: 0; }
  .NewAquariumMain .wave-stop {
    height: 2vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; }
  .NewAquariumMain .wave-changer {
    animation: bigWave 1s ease-in-out forwards; }
@keyframes bigWave {
  0% {
    height: 2vw;
    bottom: 0;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%; }
  25% {
    height: calc($height/2); }
  50% {
    bottom: 0;
    height: 100vh; }
  75% {
    height: calc($height/2); }
  100% {
    height: 2vw;
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; } }
  .NewAquariumMain .corner {
    position: absolute;
    animation: corner2 5s ease-in-out infinite;
    height: auto; }
@keyframes corner2 {
  0% {
    width: 20vw; }
  50% {
    width: 21vw; }
  100% {
    width: 20vw; } }
    .NewAquariumMain .corner-1 {
      left: 0;
      bottom: 0; }
    .NewAquariumMain .corner-2 {
      right: 0;
      top: 0;
      transform: rotate(-180deg); }
  @media screen and (max-width: 600px) {
    .NewAquariumMain .corner {
      animation: corner2 5s ease-in-out infinite; }
    @keyframes corner2 {
      0% {
        width: 30vw; }
      50% {
        width: 33vw; }
      100% {
        width: 30vw; } } }

.Aquarium {
  height: 100vh;
  width: 100vw; }
  .Aquarium .waterDashboard {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: -1; }
  .Aquarium .btn {
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    background: #2d4ed7;
    background: linear-gradient(90deg, #2d4ed7 0%, #00229f 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .Aquarium .waterDashboard {
    position: absolute;
    bottom: 0; }
  .Aquarium .wave {
    position: absolute;
    z-index: 10;
    background-color: #2FF4F4;
    width: 100vw;
    bottom: 0; }
  .Aquarium .wave-stop {
    height: 2vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; }
  .Aquarium .wave-changer {
    animation: bigWave 1s ease-in-out forwards; }
@keyframes bigWave {
  0% {
    height: 2vw;
    bottom: 0;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%; }
  25% {
    height: calc($height/2); }
  50% {
    bottom: 0;
    height: 100vh; }
  75% {
    height: calc($height/2); }
  100% {
    height: 2vw;
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; } }
  .Aquarium iframe {
    width: 100% !important;
    height: 100% !important; }
  .Aquarium__temperature, .Aquarium__graphics {
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); }
  .Aquarium__section {
    margin: 30px;
    background-color: white;
    padding: 10px;
    border: none; }
  .Aquarium__temperature {
    height: 300px;
    width: 500px; }
  .Aquarium__graphics {
    height: auto;
    width: 100%; }
  .Aquarium__tool {
    position: absolute;
    top: 0;
    right: 0;
    background: #34313D;
    color: white !important;
    padding: 5px 15px;
    border-radius: 40px;
    font-size: 14px;
    border-color: transparent;
    margin: 10px; }
  .Aquarium__tool:hover {
    background-color: #0404E2;
    color: #34313D;
    cursor: grab;
    color: white !important;
    font-weight: lighter; }
  .Aquarium__aside {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh; }
    .Aquarium__aside .Aside {
      position: absolute;
      width: 60%;
      height: 80%;
      background-color: #F0F0F0;
      border-radius: 20px; }
      .Aquarium__aside .Aside li {
        list-style: none;
        text-decoration: none;
        color: black; }
      .Aquarium__aside .Aside__p {
        color: black; }
      .Aquarium__aside .Aside__close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
        margin: 15px; }
    .Aquarium__aside .wave {
      position: absolute;
      bottom: 0; }
  @media screen and (max-width: 600px) {
    .Aquarium {
      overflow-x: hidden; }
      .Aquarium .Item {
        margin: 0px 20px; }
      .Aquarium .container {
        flex-direction: column; }
      .Aquarium .btn {
        background: #007BFC;
        color: #F0F0F0;
        padding: 5px 15px;
        border-radius: 40px;
        font-size: 14px;
        border-color: transparent;
        font-weight: bolder;
        margin: 5px; }
      .Aquarium__section {
        width: 100%;
        margin: none; }
      .Aquarium__temperature, .Aquarium__graphics {
        padding: 5%;
        height: auto;
        width: 80%; }
      .Aquarium__aside .Aside {
        width: 90%;
        height: 95%; } }

.selecItem__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0303B5;
  color: #F0F0F0;
  position: relative;
  top: 20px;
  right: 20px;
  text-align: center;
  font-size: 25px; }
  .selecItem__icon-active {
    top: 15px;
    animation: ImageMovement 0.5s ease-in-out infinite; }
@keyframes ImageMovement {
  0% {
    background-color: #4040FB;
    transform: rotate(0); }
  50% {
    background-color: #0303B5;
    transform: rotate(-45deg); }
  100% {
    transform: rotate(0deg); } }
.selecItem__button {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #0303B5;
  background-color: transparent;
  position: relative;
  top: -12px;
  margin: 2px 0px 2px 20px;
  font-size: 25px; }
.selecItem__button:hover {
  background-color: #0303B5;
  color: #F0F0F0;
  border: none;
  cursor: grab; }

.login {
  width: 100vw;
  height: 100vh; }
  .login .form {
    background: none;
    color: #34313D;
    padding: 10% 5%;
    border-radius: 20px;
    font-size: 16px;
    border-color: transparent;
    height: 70vh;
    min-height: 500px;
    width: 30vw;
    border: 2px solid #34313D; }
    .login .form__title {
      text-align: center; }
    .login .form__input {
      border: 0;
      border-bottom: 2px solid #34313D; }
    .login .form__input:focus, .login .form__input:focus, .login .form__input[type]:focus, .login .form__input:hover {
      outline: 0 none;
      border-bottom: 2px solid #0303B5; }
    .login .form__button {
      background: #FF0000;
      color: #F0F0F0;
      padding: 10px 10px;
      border-radius: 40px;
      font-size: 16px;
      border-color: transparent;
      font-weight: bold; }
    .login .form__button:hover {
      background-color: #F0F0F0;
      color: #34313D;
      cursor: grab;
      border: 2px solid #b6b3b3 !important; }

.nav {
  position: absolute;
  padding: 10px;
  height: auto;
  width: 100vw; }
  .nav__logo {
    max-height: 90px;
    /* Agregamos esta propiedad para limitar la altura del contenedor */
    max-height: 90px;
    width: 90px;
    height: 90px; }
    .nav__logo .img {
      max-width: 100%;
      max-height: 100%; }

.Item {
  animation: appear 0.5s ease-in-out forwards;
  margin: 0px 40px; }
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .Item__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0303B5;
    color: #F0F0F0;
    position: relative;
    top: 20px;
    right: 20px;
    text-align: center;
    font-size: 25px; }
    .Item__icon-1 {
      top: 0px;
      right: 0px;
      margin: 0px 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

/*# sourceMappingURL=styles.css.map */
