// Colors

$red:#FF0000;
$dark-red:#B11005; 
$purple:#4040FB;
$blue:#0404E2;
$dark-blue:#0303B5;
$gray: #F0F0F0;
$dark-gray: #b6b3b3;

//Fonts 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$poppins: 'Poppins', sans-serif;